<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674242066988-hrdh29p9ieosb4f5de96ur4n9nrb9hqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674242066988-hrdh29p9ieosb4f5de96ur4n9nrb9hqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCBq8dL7S8ZG52QdLMwvl5jntPLnpz7Z3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>674242066988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagingapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>messagingapp-6f1b1</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingapp-6f1b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674242066988:ios:23b5103373466a6f89ef89</string>
</dict>
</plist>